<!DOCTYPE html>
<html lang="en-us">

<body>
    <div class="footer" style="opacity: 1;">
        <div id="footer-inner" class="collapse in">
            <p class="copyright">
                <span>© 1998-2015 Mid Atlantic Regional Information Sharing (MARIS) Initiative.</span>
                <span class="hidden-phone">All rights reserved.</span>
            </p>
            <a id="expandFooterLink" href="javascript:void(0)" data-toggle="collapse" data-target="#footer-expanded">
                    [ <span id="stateDisclaimer" class="glyphicon glyphicon-plus" aria-hidden="true"></span> ] Disclaimer</a>
        </div>
        <div id="footer-expanded" class="collapse">
            <div>
                <button type="button" class="close" style="border-radius:50%" data-toggle="collapse" data-target="#footer-expanded" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div>
                <ul class="unstyled">
                    <li>Content Provided by: JNET Project Office<span class="divider">|</span></li>
                    <li>Update Schedule: As Needed<span class="divider">|</span></li>
                    <li>Last Modified: June 22, 2015 15:54 PM</li>
                </ul>
                <p>
                    All information provided is for authorized MARIS users only. This information is provided in response to the local state user's request and is to be used exclusively by the requester in the performance of criminal justice responsibilities only. Secondary dissemination is strictly controlled via FBI policies. Although the information may continue to be valid over a period of time, it should be considered complete and accurate only on the date of response.
                </p>
            </div>
            <a id="expandFooterLink" href="javascript:void(0)" data-toggle="collapse" data-target="#footer-inner">
                    [ <span id="stateDisclaimer" class="glyphicon glyphicon-plus" aria-hidden="true"></span> ] Disclaimer</a>
        </div>
    </div>
</body>

</html>