<!DOCTYPE html>
<html lang="en-us">

<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" onclick="clearForm()">
                <img src="/css/img/logo.png"></img>
                <h1>Background Check</h1>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#about">About</a></li>
                <li><a href="#" data-toggle="modal" data-target="#help">Help</a></li>
                <li><a href="http://deljis.delaware.gov">Enhancement Suggestions</a></li>
            </ul>
        </div>
        <div id="appNav">
            <ul id="appLinks" class="unstyled">
                <li><a href="#/history">Searches Made Within Last 10 Days</a></li>
            </ul>
        </div>
    </nav>
    <nav id="sidenav" style="top: 48px; display: none;">
        <div>
            <ul>
                <li>
                    <a href="#" class="about-link" data-toggle="modal" data-target="#about-modal">About</a>
                </li>
                <li>
                    <a href="#" class="help-link" data-toggle="modal" data-target="#help-modal">Help</a>
                </li>
                <li>
                    <a href="#" class="feedback-link">Enhancement Suggestions</a>
                </li>
            </ul>
            <ul>
            </ul>
        </div>
    </nav>
</body>

</html>