<!DOCTYPE html>
<html lang="en-us">

<body>

<div class="container-fluid">
<div class="panel panel-info" flex layout="column" layout-align="center" ng-repeat="month in months"
     ng-if="isMonthPresent($index+1)">
    <div class="panel-heading layout-align-space-between-end" layout="row">
        <strong> {{month}} </strong>
        <span class="badge">{{monthTotal($index+1)}}</span>
    </div>
    <div class="panel-body">
        <div flex="100" layout="row">
            <div flex="15"></div>
            <div flex="10" ng-repeat="day in days">{{day}}</div>
        </div>

        <div flex="100" layout="row" layout-align="start center" ng-repeat="sheet in filterMonth($index+1)">
            <div flex="15" layout="column" layout-align="start start">
                <em>{{sheet.begin}}</em>
                <span class="label label-default" ng-class="{'submitted':'label-primary', 'approved':'label-success'}[sheet.status]">{{sheet.status}}</span>
            </div>
            <div flex="10" ng-repeat="item in sheet.entries">{{item.hours}}</div>
            <div flex="10">{{sheet.total}}</div>
        </div>
    </div>
</div>
</div>

</body>

</html>

