<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<pre style="background:#0c1021;color:#f8f8f8;padding-left:25px;text-align:center;">
    Your Recent Timesheet - <span th:text="${map['DATE']}"> </span>
</pre>

<table cellspacing="5" cellpadding="5" style="width:100%;">
    <tr>
        <th>Charge Code</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Total</th>
    </tr>
    <tr th:each="entry : ${map['timesheets']}">
        <td th:text="${entry['code']}">0.00</td>
        <td th:text="${entry['sun']}">0.00</td>
        <td th:text="${entry['mon']}">0.00</td>
        <td th:text="${entry['tue']}">0.00</td>
        <td th:text="${entry['wed']}">0.00</td>
        <td th:text="${entry['thu']}">0.00</td>
        <td th:text="${entry['fri']}">0.00</td>
        <td th:text="${entry['sat']}">0.00</td>
        <td th:text="${entry['total']}">0.00</td>
    </tr>
</table>

<p style="background: #cccccc; color: white;padding-left:25px;">
    This email is sent from an <em>unmonitored</em> account; please do not reply. If you require additional information please &nbsp;
    <a href="https://slcs.herokuapp.com">contact</a>&nbsp;SLCS solutions.
</p>

</html>