<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<pre style="background:#0c1021;color:#f8f8f8;padding-left:25px;text-align:center;">
    Good Morning <span th:text="${userName}"> </span>, your time sheet for past week (<span th:text="${timeDate}"> </span>) is over due now.
</pre>


<div style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;padding: 5px 20px;">
    <p>Please submit your pending time sheets, to submit time sheet now click  <a href="https://slcs.herokuapp.com/#/time">here</a>. </p>
</div>

<pre style="background: #cccccc; color: white;padding-left:25px;">
    This email is sent from an <em>unmonitored</em> account; please do not reply.
    If you require additional information please &nbsp; <a href="https://slcs.herokuapp.com">contact</a> &nbsp; SLCS solutions.
</pre>

</html>